In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle


df= pd.read_csv('random.csv')

In [2]:
df.head()

,Accident_Severity,Speed_limit,Road_Type,Road_Surface_Conditions,Weather_Conditions,Light_Conditions,Urban_or_Rural_Area
0,2,55,0,2,2,1,2
1,1,53,3,0,7,3,1
2,1,62,3,0,1,4,1
3,2,46,4,1,5,2,2
4,2,36,4,4,1,1,1

In [3]:
df=df.dropna()
df.head(5)

,Accident_Severity,Speed_limit,Road_Type,Road_Surface_Conditions,Weather_Conditions,Light_Conditions,Urban_or_Rural_Area
0,2,55,0,2,2,1,2
1,1,53,3,0,7,3,1
2,1,62,3,0,1,4,1
3,2,46,4,1,5,2,2
4,2,36,4,4,1,1,1

In [4]:
df["Accident_Severity"].value_counts()

3    152
1    142
2    136
Name: Accident_Severity, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 0 to 429
Data columns (total 7 columns):
Accident_Severity          430 non-null int64
Speed_limit                430 non-null int64
Road_Type                  430 non-null int64
Road_Surface_Conditions    430 non-null int64
Weather_Conditions         430 non-null int64
Light_Conditions           430 non-null int64
Urban_or_Rural_Area        430 non-null int64
dtypes: int64(7)
memory usage: 26.9 KB

In [6]:
df.describe()

,Accident_Severity,Speed_limit,Road_Type,Road_Surface_Conditions,Weather_Conditions,Light_Conditions,Urban_or_Rural_Area
count,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000
mean,2.023256,73.948837,2.600000,2.002326,3.737209,1.932558,1.506977
std,0.827510,26.786859,1.724092,1.398465,2.572630,1.351028,0.500534
min,1.000000,30.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,50.250000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2.000000,74.000000,3.000000,2.000000,4.000000,2.000000,2.000000
75%,3.000000,97.000000,4.000000,3.000000,6.000000,3.000000,2.000000
max,3.000000,120.000000,5.000000,4.000000,8.000000,4.000000,2.000000

In [7]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [8]:
train,test=data_split(df,0.2)

In [9]:
train

,Accident_Severity,Speed_limit,Road_Type,Road_Surface_Conditions,Weather_Conditions,Light_Conditions,Urban_or_Rural_Area
66,2,64,4,2,0,2,1
132,1,80,5,0,6,0,1
407,2,101,4,4,1,3,1
31,2,91,4,2,3,3,2
84,3,31,4,3,3,2,2
...,...,...,...,...,...,...,...
71,2,108,5,0,2,2,1
106,1,93,4,4,8,2,1
270,1,106,5,1,0,1,1
348,1,79,3,4,4,2,2
102,2,39,5,2,2,3,1

In [10]:
test

,Accident_Severity,Speed_limit,Road_Type,Road_Surface_Conditions,Weather_Conditions,Light_Conditions,Urban_or_Rural_Area
422,3,75,1,0,1,4,2
75,2,110,3,3,2,2,2
177,2,49,1,0,2,2,2
30,2,52,4,0,7,2,1
361,1,39,5,3,3,0,2
...,...,...,...,...,...,...,...
379,1,97,4,4,1,1,1
57,2,76,1,4,2,0,2
124,3,67,2,4,3,2,1
24,1,80,1,4,2,3,2
17,3,81,3,4,8,3,1

In [11]:
X_train=train[['Speed_limit','Road_Type','Road_Surface_Conditions','Weather_Conditions','Light_Conditions','Urban_or_Rural_Area']].to_numpy()
X_test=test[['Speed_limit','Road_Type','Road_Surface_Conditions','Weather_Conditions','Light_Conditions','Urban_or_Rural_Area']].to_numpy()

In [12]:
y_train=train[['Accident_Severity']].to_numpy().reshape(344,)
y_test=test[['Accident_Severity']].to_numpy().reshape(86,)

In [13]:
y_train

array([2, 1, 2, 2, 3, 2, 1, 1, 1, 2, 1, 1, 1, 3, 1, 3, 3, 3, 3, 1, 1, 3,
       2, 1, 2, 3, 2, 1, 2, 1, 2, 1, 3, 2, 1, 3, 2, 2, 2, 3, 2, 3, 2, 3,
       1, 3, 3, 3, 3, 1, 2, 2, 1, 2, 3, 3, 2, 1, 2, 1, 1, 1, 1, 2, 3, 1,
       3, 3, 3, 1, 2, 3, 2, 2, 3, 1, 3, 3, 1, 1, 1, 1, 3, 2, 3, 2, 3, 2,
       3, 3, 1, 3, 2, 1, 1, 2, 3, 1, 2, 2, 3, 2, 3, 2, 3, 1, 1, 1, 1, 3,
       1, 2, 3, 2, 2, 2, 3, 2, 3, 2, 1, 2, 1, 3, 1, 3, 2, 1, 1, 3, 1, 1,
       2, 1, 2, 2, 2, 3, 1, 1, 2, 3, 2, 1, 2, 2, 1, 1, 1, 3, 3, 3, 1, 3,
       1, 1, 3, 1, 2, 1, 2, 2, 2, 1, 2, 3, 1, 3, 3, 3, 3, 1, 3, 1, 3, 1,
       2, 1, 1, 2, 3, 3, 3, 1, 3, 3, 1, 3, 3, 1, 1, 1, 3, 3, 2, 1, 2, 3,
       1, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 2, 2, 3, 1,
       3, 1, 3, 3, 1, 2, 1, 1, 2, 2, 3, 1, 2, 3, 1, 1, 2, 2, 1, 1, 1, 3,
       2, 2, 1, 3, 3, 2, 1, 1, 2, 2, 1, 3, 3, 1, 3, 2, 3, 2, 2, 2, 3, 3,
       2, 1, 2, 1, 1, 1, 1, 2, 3, 2, 3, 2, 2, 1, 2, 3, 2, 2, 2, 3, 3, 3,
       2, 1, 2, 2, 2, 3, 3, 2, 3, 3, 1, 1, 1, 2, 3, 3, 3, 2, 3, 3, 2, 2,
       2, 1, 2, 2, 1, 1, 2, 1, 3, 1, 2, 2, 1, 3, 3, 3, 2, 3, 2, 2, 3, 2,
       2, 3, 2, 2, 3, 1, 2, 3, 3, 2, 1, 1, 1, 2], dtype=int64)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

random_forest=RandomForestClassifier(n_estimators=100,criterion='entropy')
random_forest.fit(X_train,y_train)

In [15]:
clf=RandomForestClassifier()

In [16]:
clf.fit(X_train,y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
input_features=[100,5,3,3,1,2]
infprob=clf.predict_proba([input_features])[0][2]
infprob

0.0

In [18]:
file=open('modell.pkl','wb')
pickle.dump(clf,file)